
<section id="clients" class="section">
  <div class="section-upper">
    <div class="container">
      <header class="heading-1">
        <h4>Nos Top Produits<span class="heading-tri"></span></h4>
        <p>La Qualité est Notre Métier</p>
      </header><!-- /heading-1 -->
    </div>
  </div><!-- /section-upper -->
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="team-box">
            <img src="../../../assets/images/resource/hydrax-46.jpg" alt="image">
            <div class="text">
              <h6><a href="#">Hydrax-46</a></h6>
              <p class="team-desig">Huile des Moteurs</p>
              <div class="more-text">
              </div>

            </div>
          </div><!-- /team-box -->
        </div>
        <div class="col-sm-4">
          <div class="team-box">
            <img src="../../../assets/images/resource/hydrax-46.jpg" alt="image">
            <div class="text">
              <h6><a href="#">Hydrax-46</a></h6>
              <p class="team-desig">Huile des Moteurs</p>
              <div class="more-text">
              </div>
            </div>
          </div><!-- /team-box -->
        </div>
        <div class="col-sm-4">
          <div class="team-box">
            <img src="../../../assets/images/resource/hydrax-46.jpg" alt="image">
            <div class="text">
              <h6><a href="#">Hydrax-46</a></h6>
              <p class="team-desig">Huile Moteurs</p>
              <div class="more-text">
              </div>
            </div>
          </div><!-- /team-box -->
        </div>
      </div>
    </div>
  </div>
</section>
