
<div class="fullscreen-container">
  <div class="Main-Slider">
    <ul>

      <li data-transition="slide" data-slotamount="5" data-masterspeed="1000" data-title="Slide One">
        <img src="../../../assets/images/resource/oil2.jpg" alt="slide-1" data-lazyload="../../../assets/images/resource/oil2.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

        <div class="tp-caption very_large_text customin customout start"
             data-x="0"
             data-y="center"

             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="1000"
             data-start="2000"
             data-easing="Back.easeInOut"
             data-endspeed="300">Large Gamme de Lubrifiants<br>de Haute Qualité
          <br>et Conforme aux Normes Internationales
        </div>

        <div class="tp-caption medium_text sfl"
             data-x="0"
             data-y="center"
             data-hoffset="0"
             data-voffset="150"
             data-speed="500"
             data-start="2500"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          <div class="slide-iconic">
            <a href="#">
              <div class="slide-icon"><i class="icon-user"></i></div>
              Mon Compte
            </a>
          </div>
        </div>

        <div class="tp-caption medium_text sfl"
             data-x="150"
             data-y="center"
             data-voffset="150"
             data-speed="500"
             data-start="3000"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          <div class="slide-iconic">
            <a href="#">
              <div class="slide-icon"><i class="icon-cart"></i></div>
              Shop
            </a>
          </div>
        </div>

        <div class="tp-caption medium_text sfl"
             data-x="300"
             data-y="center"
             data-voffset="150"
             data-speed="500"
             data-start="3500"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          <div class="slide-iconic">
            <a href="#">
              <div class="slide-icon"><i class="icon-list"></i></div>
              Produits
            </a>
          </div>
        </div>

      </li>
      <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide Two">

        <img src="../../../assets/images/resource/AGIL.png"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

        <div class="tp-caption sfr"
             data-x="right"
             data-y="top"
             data-hoffset="850"
             data-voffset="-850"

             data-speed="500"
             data-start="1500"
             data-easing="Power1.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn">
          <div class="triangle-shape"></div>
        </div>
        <div class="tp-caption sft"
             data-x="right"
             data-y="0"
             data-hoffset="150"
             data-voffset="20"

             data-speed="500"
             data-start="1500"
             data-easing="Power1.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn">
          <img src="../../../assets/images/texture-dots.png" alt="image">
        </div>

        <div class="tp-caption sfb"
             data-x="left"
             data-y="bottom"
             data-hoffset="-350"
             data-voffset="1000"
             data-speed="500"
             data-start="2000"
             data-easing="Power1.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off">
          <div class="triangle-shape"></div>
        </div>

        <div class="tp-caption mediumlarge_light_white_center sfb"
             data-x="left"
             data-y="bottom"
             data-hoffset="90"
             data-voffset="-80"

             data-speed="500"
             data-start="2200"
             data-easing="Power1.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off">
          <p><img src="../../../assets/images/shape-1.png" alt="image"></p>
          Chaque Projet Est une opportunité<br>pour votre réussite<br>
          <a class="link-focus link-slider" href="about.html">à propos de nous</a>
        </div>

      </li>
      <li data-transition="zoomin" data-slotamount="5" data-masterspeed="1000" data-title="Slide Three">

        <img src="../../../assets/images/resource/AGIL_Tunisie_Tn.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

        <div class="tp-caption very_big_white sfr"
             data-x="left"
             data-y="center"
             data-voffset="-35"

             data-speed="500"
             data-start="1500"
             data-easing="Power1.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn">
          <span class="text-primary  text-italic">PLUS DE 55 ANS</span>
        </div>
        <div class="tp-caption very_big_white sfl"
             data-x="left"
             data-y="center"
             data-voffset="35"

             data-speed="500"
             data-start="2000"
             data-easing="Power1.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn">
          à votre service
        </div>

      </li>

    </ul>
  </div><!-- /Main-Slider -->
</div><!-- /fullscreen-container -->





<section id="about" class="section"></section>

<div class="section-upper">
  <div class="container">
    <header class="heading-1">
      <h4>
        Société Nationale de Distribution des Pétroles AGIL. S.A

        <span class="heading-tri"></span>
      </h4>

      <p>La Qualite est Notre Métier</p>
    </header><!-- /heading-1 -->
  </div>
</div><!-- /section-upper -->
<div class="section-content no-padding-bottom">
  <div class="container">
    <div class="about-section">
      <div class="row">
        <div class="col-sm-6">
          <div class="accordion accordion-1 panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a href="#collapse-1" data-parent=".accordion-1" data-toggle="collapse">
                    <i class="icon-user3"></i>Qui Sommes Nous?</a>
                </h5>
              </div>
              <div class="panel-collapse collapse in" id="collapse-1">
                <div class="panel-body">
                  La Société Nationale de Distribution des Pétroles AGIL S.A. est une entreprise publique ayant pour mission la commercialisation des produits pétroliers et de leurs dérivés sous le label AGIL. Elle fait partie des grandes entreprises publiques tunisiennes qui, par leur dynamisme et la diversité de leurs activités, soutiennent l’économie nationale et lui assurent une croissance continue.
                  <br>En développant ses activités, AGIL S.A. a fini par occuper la première place parmi les entreprises du secteur, tant par le volume de ses ventes que par l’importance de son chiffre d’affaires et le savoir faire de ses ressources humaines et s’emploie constamment à consolider cette position en offrant à ses clients la meilleure qualité de produit et de service.

                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a href="#collapse-2" data-parent=".accordion-1" data-toggle="collapse">
                    <i class="icon-list"></i>Nos Chiffres Clés</a>
                </h5>
              </div>
              <div class="panel-collapse collapse" id="collapse-2">
                <div class="panel-body">
                  <ul style="list-style-type:cercle">
                    <li>
                      Chiffre d’affaires:1 393 Millions DT HT
                    </li>
                    <li>
                      Effectif: 1154
                    </li>
                    <li>
                      Nombre de stations-service : 210
                    </li>
                    <li>
                      Nombre de stations portuaires : 54
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a href="#collapse-3" data-parent=".accordion-1" data-toggle="collapse">
                    <i class="icon-calendar"></i>Nos Date Clés</a>
                </h5>
              </div>
              <div class="panel-collapse collapse" id="collapse-3">
                <div class="panel-body">
                  <ul style="list-style-type:cercle">
                    <li>
                      1960 : Création de la société internationale AGIP S.A. Tunisie par le groupe italien ENI.
                    </li>
                    <li>
                      1963 : Acquisition de 50 % du capital de la société AGIP S.A. Tunisie par l'Etat tunisien.
                    </li>
                    <li>
                      1975 : Achat du reste du capital de la société AGIP S.A. par l'Etat tunisien.
                    </li>
                    <li>
                      1977 : Changement du nom et du statut d’AGIP S.A. pour devenir « la Société Nationale de Distribution des Pétroles ».
                    </li>
                    <li>
                      2000 : La Société Nationale de Distribution des Pétroles devient une société anonyme.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 alpha-image-mobile">
          <figure class="image"><img src="../../../assets/images/resource/avatar.png.jpg" alt="image"></figure>
        </div>
      </div>
    </div><!-- /about-section -->
  </div>







<app-top-produit></app-top-produit>
  <section class="section patter-1">
    <div class="section-content">
      <div class="container">
        <div class="carousel-single owl-carousel" data-trans="backSlide" data-autoplay="true" data-paginate="false" data-auto-height="false">
          <div class="item">
            <div class="testim-block">
              <div class="testim-text">
                <p>bla bla blaa amazing bla and i love it bla  &amp; bla bla blaa amazing bla and i love it bla bla bla blaa amazing bla and i love it bla </p>
              </div>
              <div class="testim-admin">
                <p class="testim-name">foulen falten</p>
                <p class="testim-desig">Poste poste</p>
              </div>
            </div><!-- /testim-block -->
          </div>
          <div class="item">
            <div class="testim-block">
              <div class="testim-text">
                <p>bla bla blaa amazing bla and i love it bla  &amp; bla bla blaa amazing bla and i love it bla bla bla blaa amazing bla and i love it bla </p>
              </div>
              <div class="testim-admin">
                <p class="testim-name">foulen falten</p>
                <p class="testim-desig">Poste poste</p>
              </div>
            </div><!-- /testim-block -->
          </div>

        </div>
      </div>
    </div>
  </section>
<app-actualite></app-actualite>
  <section id="contact" class="section">
    <div class="contact-section">
      <div class="contact-form-section bg-grey">
        <h4>Contact Form</h4>
        <div id="message"></div>
        <form id="contactform_forms" action="#" method="post" class="contact-form">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-auto">
                <label>Name *</label>
                <input type="text" class="form-control" required id="contact_name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-group-auto">
                <label>Phone *</label>
                <input type="text" class="form-control" required id="contact_phone">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-group-auto">
                <label>Email *</label>
                <input type="email" class="form-control" required id="contact_email">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group form-group-auto">
                <label>Message</label>
                <textarea class="form-control"required id="contact_message"></textarea>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group form-group-auto">
                <button type="submit" class="btn btn-dark" id="submit_btns">Send Message</button>
              </div>
            </div>
          </div>
        </form>
      </div><!-- /contact-form-section -->
      <div id="map-canvas-2"></div>
    </div>
  </section>
