<div class="main-nav-1 stickable-nav">
  <div class="container">
    <div class="main-nav-bar">
      <div class="logo">
        <a href="home-one-page.html"><img src="../assets/images/agil.png" alt="Agile"></a>
      </div>
      <ul class="nav-controls">
        <li>
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </li>
        <li>
          <a href="#" class="site-search-button"><i class="icon-search2"></i></a>
        </li>
      </ul>
      <nav class="main-nav navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a class="on" href="#home">Acceuil</a></li>
          <li><a class="on" href="#about">à propos</a></li>
          <li><a class="on" href="#clients">Top Produits</a></li>
          <li><a class="on" href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div><!-- /main-nav-bar -->
  </div>
</div><!-- /main-nav-1 -->

<div class="pagewraper">



<app-static-info></app-static-info>


  <footer class="site-footer">
    <div class="container">
      <div class="footer-blocks-container">
        <div class="row">
          <div class="col-sm-4">
            <div class="footer-block">
              Address : 123 South corner street, Melbourne.
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footer-block">
              Phone : +61 012 345 6789
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footer-block">
              Email : <a href="mailto:info@agile.com">info@agile.com</a>
            </div>
          </div>
        </div>
      </div><!-- /footer-blocks-container -->
      <ul class="social-links">
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon-linkedin"></i></a></li>
        <li><a href="#"><i class="icon-google-plus"></i></a></li>
      </ul>
    </div>
  </footer>

</div>
