
<section id="blog" class="section">
  <div class="section-upper">
    <div class="container">
      <header class="heading-1">
        <h4>Actualités<span class="heading-tri"></span></h4>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit Neque porro sed quia consequuntur magni dolores eos qui ratione.</p>
      </header><!-- /heading-1 -->
    </div>
  </div><!-- /section-upper -->
  <div class="section-content">
    <div class="container">
      <div class="news-section">

        <div class="carousel-single owl-carousel" data-trans="backSlide" data-btn-next="btn-next" data-btn-prev="btn-prev" data-autoplay="false" data-paginate="false">
          <div class="item">
            <div class="row">
              <div class="col-sm-6">
                <div class="news-block">
                  <div class="image">
                    <img src="../../../assets/images/resource/lub_p.jpg" alt="image">
                  </div>
                  <div class="text">
                    <ul class="post-meta">
                      <li>14.01.2015</li>
                      <li><a href="#">bla bla</a></li>
                    </ul>
                    <h5>bla bla blap bla bla</h5>
                    <p>jhgdjkhdfj jdgfj!ndw jlndfkndfwlkdk </p>
                    <a class="btn btn-dark-2" href="#">read more
                      <span class="btn-partial"><i class="icon-angle-double-right"></i></span></a>
                  </div>
                </div><!-- /news-block -->
              </div>
              <div class="col-sm-6">
                <div class="news-block">
                  <div class="image">
                    <img src="../../../assets/images/resource/lub_p.jpg" alt="image">
                  </div>
                  <div class="text">
                    <ul class="post-meta">
                      <li>14.01.2015</li>
                      <li><a href="#">bla bla</a></li>
                    </ul>
                    <h5>bla bpa kjgds kls</h5>
                    <p>jhgdjkhdfj jdgfj!ndw jlndfkndfwlkdk</p>
                    <a class="btn btn-dark-2" href="#">read more
                      <span class="btn-partial"><i class="icon-angle-double-right"></i></span></a>
                  </div>
                </div><!-- /news-block -->
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-sm-6">
                <div class="news-block">
                  <div class="image">
                    <img src="../../../assets/images/resource/lub_p.jpg" alt="image">
                  </div>
                  <div class="text">
                    <ul class="post-meta">
                      <li>14.01.2015</li>
                      <li><a href="#">3jfd</a></li>
                    </ul>
                    <h5>news news news </h5>
                    <p>jhgdjkhdfj jdgfj!ndw jlndfkndfwlkdk</p>
                    <a class="btn btn-dark-2" href="#">read more
                      <span class="btn-partial"><i class="icon-angle-double-right"></i></span></a>
                  </div>
                </div><!-- /news-block -->
              </div>
              <div class="col-sm-6">
                <div class="news-block">
                  <div class="image">
                    <img src="../../../assets/images/resource/lub_p.jpg" alt="image">
                  </div>
                  <div class="text">
                    <ul class="post-meta">
                      <li>14.01.2015</li>
                      <li><a href="#">jnxs</a></li>
                    </ul>
                    <h5>jhgdjkhdfj jdgfj!ndw jlndfkndfwlkdk</h5>
                    <p>Aspernatur aut odit aut fugit Neque dolores eos qui ratione[...]</p>
                    <a class="btn btn-dark-2" href="#">read more
                      <span class="btn-partial"><i class="icon-angle-double-right"></i></span></a>
                  </div>
                </div><!-- /news-block -->
              </div>
            </div>
          </div>

        </div>

        <div class="controls">
          <a href="#" class="btn btn-light btn-prev">
            <i class="icon-long-arrow-left"></i><span class="btn-partial-prev">Previous</span>
          </a>
          <a href="#" class="btn btn-light btn-next">
            <span class="btn-partial-next">Next</span><i class="icon-long-arrow-right"></i>
          </a>
        </div>
      </div><!-- /news-section -->
    </div>
  </div>
  <div class="bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="fact-box">
            <div class="iconic"><i class="icon-home"></i></div>
            <h5>Foyers</h5>
            <p class="fact-num">1.2 Millions</p>
          </div><!-- /fact-box -->
        </div>
        <div class="col-sm-3">
          <div class="fact-box">
            <div class="iconic"><i class="icon-plane"></i></div>
            <h5>Aeoroports</h5>
            <p class="fact-num">6 Aeoroports</p>
          </div><!-- /fact-box -->
        </div>
        <div class="col-sm-3">
          <div class="fact-box">
            <div class="iconic"><i class="icon-user"></i></div>
            <h5>Employés</h5>
            <p class="fact-num">3000 Employés</p>
          </div><!-- /fact-box -->
        </div>
        <div class="col-sm-3">
          <div class="fact-box">
            <div class="iconic"><i class="icon-"></i></div>
            <h5>Ports</h5>
            <p class="fact-num">54 Ports</p>
          </div><!-- /fact-box -->
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-upper">
      <div class="container">
        <header class="heading-1">
          <h4>Our Excellent Partner<span class="heading-tri"></span></h4>
          <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
        </header><!-- /heading-1 -->
      </div>
    </div><!-- /section-upper -->
    <div class="section-content">
      <div class="container">
        <div class="partners-section guttered">
          <div class="controls">
            <a href="#" class="caro-prev-2 parner-prev"></a>
            <a href="#" class="caro-next-2 parner-next"></a>
          </div>
          <div class="carousel-partners owl-carousel">
            <div class="item">
              <div class="logo-box">
                <img src="../../../assets/../../../assets/images/resource/logos-1.png" alt="image">
                <div class="logo-box-hover">
                  <div class="logo-image">
                    <img src="../../../assets/images/resource/logos-1.png" alt="image">
                  </div>
                  <p>High Rise of Building is one of the Partner for Agile from last 5 years</p>
                </div><!-- /logo-box-hover -->
              </div><!-- /logo-box -->
            </div>
            <div class="item">
              <div class="logo-box">
                <img src="../../../assets/../../../assets/images/resource/logos-2.png" alt="image">
                <div class="logo-box-hover">
                  <div class="logo-image">
                    <img src="../../../assets/../../../assets/images/resource/logos-2.png" alt="image">
                  </div>
                  <p>High Rise of Building is one of the Partner for Agile from last 5 years</p>
                </div><!-- /logo-box-hover -->
              </div><!-- /logo-box -->
            </div>
            <div class="item">
              <div class="logo-box">
                <img src="../../../assets/../../../assets/images/resource/logos-3.png" alt="image">
                <div class="logo-box-hover">
                  <div class="logo-image">
                    <img src="../../../assets/../../../assets/images/resource/logos-3.png" alt="image">
                  </div>
                  <p>High Rise of Building is one of the Partner for Agile from last 5 years</p>
                </div><!-- /logo-box-hover -->
              </div><!-- /logo-box -->
            </div>
            <div class="item">
              <div class="logo-box">
                <img src="../../../assets/../../../assets/images/resource/logos-4.png" alt="image">
                <div class="logo-box-hover">
                  <div class="logo-image">
                    <img src="../../../assets/images/resource/logos-4.png" alt="image">
                  </div>
                  <p>High Rise of Building is one of the Partner for Agile from last 5 years</p>
                </div><!-- /logo-box-hover -->
              </div><!-- /logo-box -->
            </div>

            <div class="item">
              <div class="logo-box">
                <img src="../../../assets/images/resource/logos-5.png" alt="image">
                <div class="logo-box-hover">
                  <div class="logo-image">
                    <img src="../../../assets/images/resource/logos-1.png" alt="image">
                  </div>
                  <p>High Rise of Building is one of the Partner for Agile from last 5 years</p>
                </div><!-- /logo-box-hover -->
              </div><!-- /logo-box -->
            </div>
            <div class="item">
              <div class="logo-box">
                <img src="../../../assets/images/resource/logos-6.png" alt="image">
                <div class="logo-box-hover">
                  <div class="logo-image">
                    <img src="../../../assets/images/resource/logos-2.png" alt="image">
                  </div>
                  <p>High Rise of Building is one of the Partner for Agile from last 5 years</p>
                </div><!-- /logo-box-hover -->
              </div><!-- /logo-box -->
            </div>
            <div class="item">
              <div class="logo-box">
                <img src="../../../assets/images/resource/logos-3.png" alt="image">
                <div class="logo-box-hover">
                  <div class="logo-image">
                    <img src="../../../assets/images/resource/logos-3.png" alt="image">
                  </div>
                  <p>High Rise of Building is one of the Partner for Agile from last 5 years</p>
                </div><!-- /logo-box-hover -->
              </div><!-- /logo-box -->
            </div>
            <div class="item">
              <div class="logo-box">
                <img src="../../../assets/images/resource/logos-4.png" alt="image">
                <div class="logo-box-hover">
                  <div class="logo-image">
                    <img src="../../../assets/images/resource/logos-4.png" alt="image">
                  </div>
                  <p>High Rise of Building is one of the Partner for Agile from last 5 years</p>
                </div><!-- /logo-box-hover -->
              </div><!-- /logo-box -->
            </div>

          </div>
        </div><!-- /partners-section -->
      </div>
    </div>
  </div>

</section>
